<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Hello <span th:text="${user.username}"></span>!!!</h1>
    <a href="../">Select Services</a>

    <ul>
        <li>list one</li>
    </ul>
    <th:block th:each="aUser : ${users}">
        <ul>
            <li><a th:href="@{/user/info/{id}(id=${aUser.id})}" th:text="${aUser.username}"></a></li>
            <li th:text="${aUser.email}"></li>
        </ul>
    </th:block>
</body>
</html>