body {
    background-color: #55f;
}

.firstDivAlignment {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
    width: 50%;
    padding: 10px 10px 5px 10px;
    text-align: center;
    background-color: #fff;
}

h2 {
    margin: auto;
    width: 50%;
    padding: 10px 0 10px 0;
}

h3 {
    margin: auto;
    width: 50%;
}

p {
    margin: auto;
    width: 50%;
    padding: 5px 10px;
}

table {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.maniPedi {
    margin: auto;
    padding: 0;
    width: 100%;
}