<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile" class="firstDivAlignment">
    <h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu" class="firstDivAlignment">
    <h2>Menu of Available Services</h2>
    <div class="servicesAvailable">
        <h3>Appropriate Facials</h3>
        <p>The facial treatments below are recommended by our estheticians for your given skin type:</p>
        <table>
            <th:block th:each="facial : ${appropriateFacials}">
                <tr>
                    <td th:text="${facial}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div th:if='${manipedi.equals("manicure")}'>
        <div th:replace="fragments :: manicureWithHeader"></div>
    </div>
    <div th:if='${manipedi.equals("pedicure")}'>
        <div th:replace="fragments :: pedicureWithHeader"></div>
    </div>
    <div th:if='${manipedi.equals("both")}'>
        <div th:replace="fragments :: manicureWithHeader"></div>
        <div th:replace="fragments :: pedicureWithHeader"></div>
    </div>
</div>
</body>
</html>